<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Management</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .projects {
        text-align: center;
        margin-top: 50px;
      }

      .manage_proj {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 320px;
        max-width: 100%; /* Adjusted for responsiveness */
      }

      .manage_proj h1 {
        color: #333;
        margin-bottom: 20px;
      }

      .proj-actions {
        margin-bottom: 20px;
      }

      .proj-actions button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        width: 100%;
        transition: background-color 0.3s ease;
      }

      .proj-actions button:hover {
        background-color: #45a049;
      }

      .proj_name {
        text-align: left;
      }

      .proj_name p1 {
        color: #333;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        display: inline-block; /* Added for proper inline display */
      }

      .proj_name p1:hover {
        background-color: #f0f0f0;
      }
    </style>
  </head>
  <body>
    <div class="projects">
      <div class="manage_proj">
        <h1>My Projects</h1>
        <div class="proj-actions">
          <button type="button">
            <a
              href="./create_project"
              style="text-decoration: none; color: #fff"
              >Create Project</a
            >
          </button>
        </div>
        <% projects.forEach(proj => { %>
        <div class="proj_name">
          <p1><%= proj.pName %></p1>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
