<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Management</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .projects {
        text-align: center;
        margin-top: 50px;
      }

      .manage_proj {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 320px;
        max-width: 100%; /* Adjusted for responsiveness */
        position: relative;
        top: 0; /* Position fixed at the top */
      }

      .manage_proj h1 {
        color: #333;
        margin-bottom: 20px;
      }

      .proj-actions {
        margin-bottom: 20px;
      }

      .proj-actions button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        width: 100%;
        transition: background-color 0.3s ease;
      }

      .proj-actions button:hover {
        background-color: #45a049;
      }

      .proj_name {
        text-align: left;
      }

      /* Updates for sleeker list: */
      .proj_name a {
        text-decoration: none;
        color: #333;
        padding: 10px;
        background-color: #f9f9f9; /* Lighter background for contrast */
        margin-bottom: 10px; /* Space between project names */
        border: none; /* Remove border for cleaner look */
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Subtle shadow */
        display: block; /* Ensure full width for the button effect */
        transition: background-color 0.3s ease, transform 0.3s ease;
      }

      .proj_name a:hover {
        background-color: #f0f0f0; /* Soft highlight on hover */
        transform: translateY(-2px); /* Subtle lift on hover */
      }
    </style>
  </head>
  <body>
    <div class="projects">
      <div class="manage_proj">
        <h1>My Projects</h1>
        <div class="proj-actions">
          <button type="button">
            <a
              href="./create_project"
              style="text-decoration: none; color: #fff"
              >Create Project</a
            >
          </button>
        </div>
        <% projects.forEach(proj => { %>
        <div class="proj_name">
          <a href="./project?pId=<%= proj.pId %>"><%= proj.pName %></a>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
