<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background: #7ccadd;
      }
      .projects {
        display: flex;
        background-color: aqua;
        align-items: center;
        justify-content: center;
        margin: 40px 400px 0px 400px;
      }
      /* .proj_name {
        display: flex;
        align-items: center;
      } */
      .data {
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="projects">
      <div class="manage_proj">
        <h1>My Projects</h1>
        <button type="button" onclick="">
          <a href="./create_project">Create Project</a>
        </button>
        <button type="button" onclick="">Search</button>
        <button type="button" onclick="">Sort</button>
        <div class="proj_name">
          <p1 class="data">Demo Data 1</p1>
          <p1 class="data">Demo Data 2</p1>
          <p1 class="data">Demo Data 3</p1>
          <p1 class="data">Demo Data 4</p1>
        </div>
      </div>
    </div>
  </body>
</html>
